.wrapper {
    display: flex;
    justify-content: space-between;
    background-image: url('../assets/photo.jpeg');
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 100% 100%;
    height: calc(100vh - 60px);

    @media(max-width:768px) {
        display: block;
        justify-self: unset;
        height: 100%;
    }

    .title {
        text-align: center;
        text-transform: capitalize;
        padding: 10px;
    }

    ul {
        padding: 10px;
        list-style: none;
        text-align: left;
        height: auto;
        width: 40%;

        @media(max-width:768px) {
            width: 100%;
        }

        li {
            color: black;
            padding: 14px;
            text-transform: uppercase;
            border-bottom: 1px solid;
            display: flex;
            justify-content: space-between;

            &:hover {
                background: #e9ecef;
            }

            div {
                cursor: pointer;
            }
        }
    }

    .updateForm {
        width: 40%;
        padding: 10px;

        @media(max-width:768px) {
            width: 100%;
        }
    }
}