
// mobile first

@mixin calcBorder($r) {
    border: $r dashed blue;
}


.formContainer{
    display: flex;
    justify-content: center;
    align-items: center;
    height: calc(100vh - 60px);

    .loginForm{
        width: 80%;
        margin: auto;
        @include calcBorder(5px);
        padding: 20px;
    
        .label{
            text-align: left;
            display: block;
        }

        .link{
            display: block;
            padding-top: 20px;
          text-decoration: none;
         }
        
    
        @media (min-width:992px) {
            width: 35%;
        }
    }

}



